@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Travel Badger</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Account Information</h2>
        <p>
            Update your account information.
        </p>
        <p><a class="btn btn-default" href="~/Member">Acount Information &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>City</h2>
        <p>Add cities to travel to.</p>
        <p><a class="btn btn-default" href="~/City">Cities &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Requests</h2>
        <p>Create Your Requests and see what you can afford</p>
        <p><a class="btn btn-default" href="~/Request">Requests Page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trips</h2>
        <p>See all the trips within your bugdet</p>
        <p><a class="btn btn-default" href="~/Trip">Trips &raquo;</a></p>
    </div>
</div>